@import url('https://fonts.googleapis.com/css2?family=Inconsolata&family=Montserrat&display=swap');

:root{
    --dark-background: #7ea7bc;
    --text: #ffffff;
    --light-highlight: #010101;
    --dark-highlight: #7b15b5;
    --light-background:#50c69b;
}

h1{
    font-family: 'Inconsolata', monospace;
    font-size: 40px;
}
h2{
    color:var(--light-highlight)
}
.container{
    background-color: var(--light-background);
}
html{
    font-family:'Courier New', Courier, monospace;
    font-size: 16px;
    background-color: var(--dark-background);
    color: var(--text);
}
.header{
    background-color: var(--light-background);
    color: var(--light-highlight);
}
.header__nav-link{
    font-size: 18px;
    color: var(--dark-highlight);
}
.header__nav-link:hover{
    color: var(--light-highlight);
}

a{
    color: var(--dark-highlight); 
}
a:hover{
    color: var(--light-highlight);
}